<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Еко-таксі Львів{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link rel="stylesheet" href="{% static 'taxi_app/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                Головна
            </a>
            
            <a href="{% url 'order' %}" class="nav-link {% if request.resolver_match.url_name == 'order' or request.resolver_match.url_name == 'cars' or request.resolver_match.url_name == 'order_confirmation' %}active{% endif %}">
                Замовити
            </a>
            
            <a href="{% url 'about' %}" class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                Про нас
            </a>
        </nav>
    </header>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>